.auto {
    background: #B9D9EB;
    background-size: auto 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    color: #141414;
    margin: 12px 0 0 0 ;
    padding: 18px;

}

.carreira {
    font-size: 17px;

}

.carreira2  {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.conteudo {
    display: flex;
    padding: 74px 74px;

}

.conteudoLista {
    display: flex;
    flex-direction: column;
    margin: 9px;
}

.conteudoLista li {
    margin: 9px;
}

.conteudoLista h1 {
    font-size: 80px;
    color: #1F75FE;

}

.conteudoLista span {
    font-size: 44px;
}

.conteudoLista button {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 16px 14px;
    background-color: #1F75FE;
    color: #eef1f3;
    border: 1px solid #eef1f3;
    cursor: pointer;
    border-radius: 5px;

}

.estudo {
    background: url(../imagens/51a7e075-bb24-49cd-a4f7-460207aa8843.png);
    background-repeat: no-repeat;
    height: 60vh;
    background-position: center;
    background-size: cover;
    

}

.explorador {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;

}

.explorador-titulo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 54px;
    font-weight: bold;
    padding-top: 48px;
    padding-bottom: 18px;
    
}

.explorador-titulo img {
    max-width: 114px;
    filter: invert(100%);

}

.vaga {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: white;
    padding-bottom: 16px;

}

.vaga span {
    font-weight: bold;
    font-size: 22px;
}

.explora {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-size: 34px;
    font-weight: 700;
    color: white;
    background-color: #1F75FE;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.explora img {
    max-width: 44px;
    filter: invert(100%);

}

